body {
    width: 100%;
    height: 100%;
    margin: 0;
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
      'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
      sans-serif;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
  }
  html{
    width: 100%;
    height: 100%;
  }
  
  code {
    font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
      monospace;
  }
  /* Navbar */
div.navbar-Menu{

}
  /* Main Page */
  .home-page{
  
  }
  .footer-links{
    margin-top: -1em;
    text-align: center;
  }
  .github-icon,
  .youtube-icon,
  .medium-icon{
    display:flex;
    padding-bottom: 1.5em;
  }
  .github-icon:hover,
  .youtube-icon:hover,
  .medium-icon:hover{
    cursor: pointer;
  }
  .align-pic-about{
    text-align: center;
    padding: 30px;
  }
  
  .main{
    /* background-color:rgba(0,0,0,0.8); */
    width:100%;
    height: 100%;
    background-image: url('./assets/coffeeCode.jpg');
    background-size: cover;
    background-repeat: no-repeat;
  }
 .hi-header{
    color: rgba(255,255,255,0.85) !important;
    font-weight: 700;
    text-align:center;
  }
  .profile-pic-container{
    display: inline-block;
    text-align: center;
    height: 350px;
    width: 350px;
    margin-right: auto;
  }
  .profile-pic{
    border-radius: 25px;
    border: 1px solid black;
    box-shadow: 5px 5px;
    border-radius: 25px;
    height: 100%;
    width: 80%;
  }
  .about-me{
    padding: 30px;
    border-radius: 25px;
    border: 1px solid black;
    box-shadow: 5px 5px;
    background-color: rgba(255,255,255,0.65);
    width: 60%;
    display: inline-block;
    margin: 0px;
    line-height: 1.6;
    font-size: 18px;
    vertical-align: top;
  }
  
  /* Footer */
  a {
    text-decoration: none !important
  }
  .footer{
    position: relative;
    left: 0;
    right: 0;   
    bottom: 2em;  
    width: 100%;
  }
  .footer-list{
    display: flex;
    justify-content: space-around;
  }
  .footer-list li{

  }
  .footer-list a:link, a:visited{
    color: #f2f2f2;
  }
  .footer-list a:hover{
   
  }
  .footer-list a:visited{
  }
  
  /* Contact Page */
  .contact-page{
    height: 100vh;
  }
  .contact-header{
    text-align: center;
  }
  .contact-div{
    display: flex;
    justify-content: space-between;
    padding: 30px;
    margin: 40px;
  }
  .email-div, .phone-div, .linkedin-div{
    background-color: rgba(255,255,255,0.65);
    display: flex;
    justify-content: center;
    align-items:center;
    border-radius: 150px;
    padding: 20px;
    height: 250px;
    width: 250px;
  }
  .L-icon{
    color: rgb(0,114,177);
    margin-left: 40px;
  }
  .phone-popup{
    border-radius: 0;
    opacity: 0.7;
    padding: 2em;
  }
  /* Projects Page */
.projects-page{
    height: 100vh;
}
.projects-page .projects-header{
    color: rgba(255,255,255,0.85) !important;
    font-weight: 700;
    text-align:center;
}
.weather-app-div{
    background-color: rgba(255,255,255,0.65);
    display: flex;
    justify-content: center;
    align-items:center;
    border-radius: 150px;
    padding: 20px;
    height: 250px;
    width: 250px;
}
.weather-app-card{
    align-items:center;
    border-radius: 30px;
    padding: 20px;
   
}
/* Resume */
.resume-page{
  height: 130vh;
  /* display: flex;
  align-items: center; */
}
/* Software */
.software-container,
 .methodologies-container,
  .softskills-container{
  padding: 20px;
  border-radius: 25px;
  border: 1px solid black;
  box-shadow: 5px 5px;
  background-color: rgba(255,255,255,0.65);
  width: 100%;
  display: inline-block;
  margin: 20px;
  line-height: 1.6;
  font-size: 14px;
  vertical-align: top;
}
.education-container,
.employment-container{
  padding: 20px;
  border-radius: 25px;
  border: 1px solid black;
  box-shadow: 5px 5px;
  background-color: rgba(255,255,255,0.65);
  width: 100%;
  /* display: inline-block; */
  /* margin: 20px; */
  line-height: 1.6;
  font-size: 14px;
  /* vertical-align: top; */

}




 
  